<%- include('./partials/head', {current: '/'}); %>

<main>

  <!-- Home Section -->
  <section id="home">

    <!-- Title -->
    <h1>De Hallen</h1>

  </section>


  <!-- About Section -->
  <section id="about">
    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       01
    </p>

    <div class="aboutContent flexLayout">
      <img src="/images/dehallenscenery.jpg" alt="Sfeer in De Hallen">
      <div>
        <!-- Section Tag -->
        <p class="sectionTag capsLock extraBold" 
           aria-hidden="true">
           Over dit platform
        </p>
        <h2><span class="extraBold">Waarom</span> dit platform?</h2>
        <p class="textArea">
           Dit platform is gericht naar het aanbieden of aanvragen van diverse buurtinitiatieven. In de meeste gevallen 
           is het moeilijk om de juiste persoon voor jouw klus te vinden, en daarom is dit platform ontwikkeld!
        </p>
      </div>
    </div>

  </section>


  <!-- Activity Section -->
  <section id="activity">

    <!-- Section Tag -->
    <p class="sectionTag capsLock extraBold" 
       aria-hidden="true">
       Vraag en Aanbod
    </p>
    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       02
    </p>

    <!-- Section Title -->
    <h2>Bekijk onze <span class="extraBold">initiatieven</span></h2>

    <ul class="activityList flexLayout">
      <% hallenData.forEach(function(database) { %>
        <li class="activityItem">
          <% if (database.image) { %>
            <img src="https://fdnd-agency.directus.app/assets/<%= database.image %>">
          <% } %>

          <div class="description">
            <a href="/initiatief/<%= database.id %>"><h3><%= database.title %></h3></a>

            <% if (database.start_date) { %>
              <p>
                <span><%= database.start_date %>
                <% if (database.end_date) { %>
                  tot <%= database.end_date %></span>
                <% } %>
              </p>
            <% } %>
            
            <p><%- database.short_description %></p>

            <a href="/initiatief/<%= database.id %>"><button class="infoButton capsLock extraBold">Meer informatie</button></a>
          </div>
        </li>
      <% }) %>
    </ul>

  </section>


  <!-- Submit Activity Section -->
  <section id="submitactivity">

    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       03
    </p>

    <!-- Section Title -->
    <div class="submitContent flexLayout">
      <div class="alignRight">
    <!-- Section Tag -->
        <p class="sectionTag capsLock extraBold" 
           aria-hidden="true">
           Initiatief Aanvragen
        </p>
        <h2>Ben je op zoek naar een <span class="extraBold">initiatief?</span></h2>
        <p class="textArea">
          Op zoek naar een balonnenclown? DJ voor een huisfeest? Het maakt niet uit wat! Vul dan het 
          formulier in, en wie weet vind je de juiste persoon waar jij naar op zoek bent.
        </p>    
      </div>
      <div>
        <form method="post" action="/">
          <h3>Wat zoek je?</h3>
          <textarea required name="bericht"></textarea> <br>
          
          <h3>Voor wanneer?</h3>
          <textarea required name="bericht"></textarea> <br>
          <button type="submit" id="submit-button">Aanvraag indienen</button>
        </form>
      </div>
    </div>
  </section>


  <!-- Contact Section -->
  <section id="contact">

    <!-- Section Tag -->
    <p class="sectionTag capsLock extraBold" 
       aria-hidden="true">
       Contact
    </p>
    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       04
    </p>

    <!-- Section Title -->
    <h2>Heb je <span class="extraBold">vragen?</span></h2>

    <!-- Contact Info -->
    <div class="contact-wrapper flexLayout">
      <div class="contact-container">
        <h3>Hotel de Hallen</h3>
        <ul>
          <li><a href="www.hoteldehallen.com">www.hoteldehallen.com</a></li>
          <li>info@hoteldehallen.com</li>
          <li>Tel. +31(0)20 8 208 670</li>
        </ul>
        <h3>De Hallen Studio's</h3>
        <ul>
          <li><a href="www.hallenstudios.nl">www.hallenstudios.nl</a></li>
          <li>info@dehallenstudios.nl</li>
          <li>Tel. +31(0)20 8208206</li>
        </ul>
        <h3>De FilmHallen</h3>
        <ul>
          <li><a href="www.filmhallen.nl">www.filmhallen.nl</a></li>
          <li>info@filmhallen.nl</li>
          <li>Tel. +31 85 000 4544</li>
        </ul>
      </div>
  
      <div class="contact-container">
        <h3>De Foodhallen</h3>
        <ul>
          <li><a href="www.foodhallen.nl">www.foodhallen.nl</a></li>
          <li>info@foodhallen.nl</li>
          <li>(reserveren niet mogelijk)</li>
        </ul>
        <h3>The Maker Market</h3>
        <ul>
          <li><a href="www.themakerstore.nl">www.themakerstore.nl</a></li>
          <li>hello@themakermarket.nl</li>
          <li>Tel. +31(0)20 2617667</li>
        </ul>
        <h3>Beheerorganisatie</h3>
        <ul>
          <li><a href="www.dehallen-amsterdam.nl">www.dehallen-amsterdam.nl</a></li>
          <li>info@dehallen-amsterdam.nl</li>
          <li>Tel. +31(0)20 7058164</li>
        </ul>
      </div>
    </div>    
  </section>

</main>

<%- include('./partials/foot') %>